RewriteEngine On
RewriteBase /RGarage/

# Redirect clean URLs to index.php?action=controller/method
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
